<ion-view>
  <ion-content padding="true" class="signup-background-img" overflow-scroll="false">
    <div class="signup-main-container">
      <h3 class="signup-header">Change Password</h3>


      <form name='form'>

        <div class="signup-form-main-border signin-form-main-border">

          <label ng-if="!isVerify" class="item item-input signup-textbox">
            <span class="input-label input-label-custom">Email</span>
            <input type="email" ng-model="user.userEmail">
          </label>

          <label ng-if="isVerify" class="item item-input signup-textbox">
            <span class="input-label input-label-custom">Code</span>
            <input type="text" ng-model="user.userCode">
          </label>

          <label ng-if="isVerify" class="item item-input signup-textbox">
            <span class="input-label input-label-custom">New Password</span>
            <input type="password" ng-model="user.userPassword">
            <!--<input  type="password"  data-ng-model='user.password' >-->

            <div ng-show="form.password.$error.required">
              Field required
            </div>
          </label>

          <label ng-if="isVerify" class="item item-input signup-textbox">
            <span class="input-label input-label-custom">Confirm Password</span>
            <input type="password" ng-model="user.verify" nx-equal="user.userPassword" name="verify">
              <!--<input ng-model='user.password_verify' type="email" name='confirm_password'
                   required data-password-verify="user.password">
            <div  style="color:red" ng-show="form.confirm_password.$error.passwordVerify">
              Fields are not equal! {{user.password_verify}}
            </div>
              -->
          </label>
         <!-- <div  style="text-align:center;color:white" ng-show="form.verify.$error.nxEqual && form.verify.$touched && form.userPassword.$touched"><b style="text-align:center;">* New password and confirm password must be same</b></div>-->
          <div  style="text-align:center;color:white" ng-show="form.verify.$error.nxEqual "><b style="text-align:center;">* New password and confirm password must be same</b></div>

        </div>

        <button ng-if="!isVerify" type="button" class="button button-light signup-submit-button"
                ng-click="verify(user)">Request
        </button>

        <button ng-if="isVerify" type="button" class="button button-light signup-submit-button"
                ng-click="changePassword(user)">
          Change Password
        </button>

        <!--  <div  class="signup-footer">
            <a class="signin-signupBtn" ui-sref="changePassword">Forget Passwrod?</a>
          </div>-->


        <div class="signup-footer">
          <a class="signin-signupBtn" ui-sref="signin">Go to login</a>
        </div>


      </form>

    </div>


  </ion-content>
</ion-view>
