<ion-view view-title="Notifications">
  <div class="bar bar-header bar-calm notify-header">
    <span class="notify-headerTxt">
    Notify When Free
      </span>
  </div>
  <ion-content padding="true" class="has-header notify-content">
    <img class="notify-img" src="img/notify.png">
    <div class="notify-mainTxt">
      Choosing this option will result in a <br> text message and/or push notification <br> to be generated when the line is free.
    </div>
    <button class="button button-light notify-returnBtn">
      Return
    </button>
  </ion-content>
</ion-view>
