<ion-view view-title="History">
  <div class="bar bar-header bar-calm history-header">

    <div class="history-header-content">
      <div class="voicemail-backIcon" ng-click="goTo()"><i class="ion ion-ios-arrow-back"></i></div>
      <h1 class="title history-header-title">Voicemail</h1>
      <!--<div ng-click="rmFilter()" class="title history-header-title history-header-second-title-" ng-class="{allTxtBold : showAllTextBold}" style="margin-left: 82% !important;">Setup</div>-->
      <div class="bar bar-subheader history-subHeader">
        <div class="button-bar history-button-bar">
          <a class="button history-button-bar-button" ng-click="toggle(b.state)" ng-class="{'history-active':b.flag}"
             ng-repeat="b in btns"><!--<i class="{{b.icon}} history-tab-button-icon"></i>-->{{b.label}}</a>
        </div>
      </div>
    </div>
    <div class="history-second-header-bar history-seacrhDiv">
      <!--<div class="list list-inset history-search-bar">
        <label class="item item-input">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="text" placeholder="Search History" ng-model="searchText">
        </label>
      </div>-->
      <div class="list list-inset history-search-bar">
        <label class="item item-input search-label">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="text" placeholder="Search History" ng-model="searchText" ng-keypress="closeKeyboard($event)" ng-change="activeSearchCross()">
          <i class="icon ion-close-circled search-crossIcon" ng-if="searchText && active" on-tap="clearSearch()"></i>
        </label>
      </div>
      <a ng-class="{'searchbar-cancelBtnDeactive': !searchText}" class="searchbar-cancelBtn" ng-click="cancelSearch()">Cancel</a>

      <div class="history-second-header-bar-content history-callsHeader">
        <p>{{callName}} VOICEMAIL</p>
      </div>
    </div>
  </div>

  <ion-content padding="true" class="has-header history-content" overflow-scroll="false">
    <ion-list ng-show="filter!=false">
      <div class="voicemail-history-list">
        <ion-item can-reorder="true" ng-click="showDetail(item,$index)" ng-repeat="($index,item) in data.items | filter : histStat=='all'? '' : data.filter | filter : searchText"  class="has-header voicemail-list-item"
                  item="item2" ng-class={'voicemail-listItem-bckColor':item.notificationRead}
          >
          <!--<img class="history-calling-icon" ng-src="img/{{item.userCallType=='blocked'?'blockedCall1-icon':item.userCallType=='stranger'?'strangers-icon':'incoming-call'}}.png">
          --><i ng-if="item.userCallType == 'contact'" class="history-calling-icon ion-ios-recording-outline dash-recordingIcon"></i>
          <img ng-if="item.userCallType == 'stranger'" class="history-calling-icon" src="{{item.icon}}">

          <div class="history-list-content" style="margin-left: 10% !important;">
            <span class="history-list-item-name hailee-font-name">{{ item.contactFirstName + " " +item.contactLastName }}</span><br/>
            <!--<span class="history-list-item-number">{{ item.call_direction=='inbound'?item.fromCaller:item.toCaller }}</span>-->
            <span class="history-list-item-number hailee-font-number">{{  item.record_direction=='inbound'?(item.fromCaller.substring(0,1)=='1'?item.fromCaller.substring(1,item.fromCaller.length):item.fromCaller):(item.toCaller.substring(0,1)=='1'?item.toCaller.substring(1,item.toCaller.length):item.toCaller)  | telephoneformat  }}</span>
            <div class="history-list-content-right-content hailee-dash-font">
              <span>{{item.callTime}}</span><br/>
              <span class="history-list-content-right-content-status voicemailHistory-duration hailee-dash-font" ng-class={colorRed:item.type=='blocked',strangerColor:item.type=='strangers'}>{{item.showDuration}}<!--2 min{{item.status}}--></span>
            </div>
           <!-- <div class="history-expandDiv" ng-show="hiddenDiv.item==$index && showDiv && histStat=='strangers'">
              <span class="expandDiv-firstItem" ng-click="gotoAddcontacts()">Create Contact</span>
              <span class="expandDiv-secItem" ng-click="gotoAddblock()">Block Caller</span>
            </div>-->
          </div>

          <div ng-if="showDiv && $index==index" ng-click="$event.stopPropagation();">

            <ion-audio-track track="track">
              <div class="">
                <ion-audio-progress-bar class="checking" track="track" display-time>


                </ion-audio-progress-bar>
                <ion-audio-controls>
                  <!--<i class="icon ion-ios-rewind voicemail-forwardIcon"></i>-->
                  <a class="button button-icon icon voicemail-playBtn" ion-audio-play ng-click="updateNotificationCount(item)"></a>
                  <ion-spinner icon="ios" style="position: relative; top: 40px; left: 35%"></ion-spinner>

                </ion-audio-controls>
                <i class="icon ion-volume-high voicemail-volumeIcon"></i>
                <ion-audio-progress class="voicemail-progress" track="track" class="ng-binding">{{scope.track.progress}}</ion-audio-progress>
                <ion-audio-duration class="voicemail-progress" track="track" class="ng-binding">{{scope.track.duration?scope.track.duration:"00:00"}}</ion-audio-duration>
              </div>
              <!--<div class="voicemail-controlDiv">
              </div>-->
            </ion-audio-track>
            <i class="icon ion-ios-trash-outline voicemailHistory-deleteIcon" ng-click="deleteVoicemail(item)"></i>
            <!--<div class="voicemailDetail-btns">
              <span class="voicemailDetail-deleteBtn">Delete</span>
              <span class="voicemailDetail-callbackBtn">Call Back</span>
            </div>-->
          </div>
          <hr/>

        </ion-item>
      </div>
    </ion-list>






  </ion-content>
</ion-view>
